<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Cadastramento</title>
</head>
<body>
    <div class="container mt-3">
        <form action="/Resposta.html" class="was-validated">
        <legend>QUARTO</legend>
        <div class="mb-3 mt-3">
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3 mt-1">
                        <input type="number" class="form-control" id="nome" placeholder="Enter text" name="nome" value="" size=30 required>
                        <label for="nome">Andar:</label>
                        <div class="valid-feedback">Valido</div>
                        <div class="invalid-feedback">Por favor preencher o campo obrigatório</div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3 mt-1">
                        <input type="number" class="form-control" id="cpf" placeholder="Enter text" name="cpf" value="" size=13 maxlength=13 required>
                        <label for="cpf">Numero:</label>
                        <div class="valid-feedback">Valido</div>
                        <div class="invalid-feedback">Por favor preencher o campo obrigatório</div>
                    </div>
                </div>

                <br>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3 mt-1">
                        <input type="text" class="form-control" id="idade" placeholder="Enter number" name="idade" value="" min="1" max="120" required>
                        <label for="idade">Tipo Quarto:</label>
                        <div class="valid-feedback">Valido</div>
                        <div class="invalid-feedback">Por favor preencher o campo obrigatório</div>
                    </div>    
                </div>
            </div>
            <br>
            <label for="tipo">Status do Quarto: </label>
            <br>
            <div class="form-check">
                <label for="vehicle1"> Liberado </label>
                <input type="radio" class="form-check-input" id="vehicle1" placeholder="Enter radio" name="vehicle1" value="Liberado" required>
            </div>
            <div class="form-check">
                <label for="vehicle1"> Em uso </label>
                <input type="radio" class="form-check-input" id="vehicle1" placeholder="Enter radio" name="vehicle1" value="Em uso" required>
            </div>
        <br>
                       
        <a href="Resposta.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Cadastrar</a>
      </form>
      <a href="curriculo.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Listar</a>
    </div>
</body>
</html>